<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>angle.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{176,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,118}}</string>
			<key>sourceSize</key>
			<string>{176,118}</string>
		</dict>
		<key>bullet-l.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,83},{81,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,79}}</string>
			<key>sourceSize</key>
			<string>{81,79}</string>
		</dict>
		<key>bullet-r.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{81,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,79}}</string>
			<key>sourceSize</key>
			<string>{81,79}</string>
		</dict>
		<key>bullet-up.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,122},{19,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,106}}</string>
			<key>sourceSize</key>
			<string>{19,106}</string>
		</dict>
		<key>death.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,2},{119,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,82}}</string>
			<key>sourceSize</key>
			<string>{119,82}</string>
		</dict>
		<key>fire-l.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,506},{78,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,109}}</string>
			<key>sourceSize</key>
			<string>{78,109}</string>
		</dict>
		<key>fire-r.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,571},{77,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,109}}</string>
			<key>sourceSize</key>
			<string>{77,109}</string>
		</dict>
		<key>fire-up.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,393},{67,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,124}}</string>
			<key>sourceSize</key>
			<string>{67,124}</string>
		</dict>
		<key>jet-l-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,86},{114,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,112}}</string>
			<key>sourceSize</key>
			<string>{114,112}</string>
		</dict>
		<key>jet-l-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,2},{114,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,112}}</string>
			<key>sourceSize</key>
			<string>{114,112}</string>
		</dict>
		<key>jet-l-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,116},{114,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,111}}</string>
			<key>sourceSize</key>
			<string>{114,111}</string>
		</dict>
		<key>jet-r-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{113,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,111}}</string>
			<key>sourceSize</key>
			<string>{113,111}</string>
		</dict>
		<key>jet-r-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,200},{113,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,111}}</string>
			<key>sourceSize</key>
			<string>{113,111}</string>
		</dict>
		<key>jet-r-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{113,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,112}}</string>
			<key>sourceSize</key>
			<string>{113,112}</string>
		</dict>
		<key>jump-l.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,164},{79,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,112}}</string>
			<key>sourceSize</key>
			<string>{79,112}</string>
		</dict>
		<key>jump-r.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,577},{78,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,111}}</string>
			<key>sourceSize</key>
			<string>{78,111}</string>
		</dict>
		<key>l.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,617},{76,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,98}}</string>
			<key>sourceSize</key>
			<string>{76,98}</string>
		</dict>
		<key>r.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,519},{77,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,98}}</string>
			<key>sourceSize</key>
			<string>{77,98}</string>
		</dict>
		<key>rocket-l-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,542},{102,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,111}}</string>
			<key>sourceSize</key>
			<string>{102,111}</string>
		</dict>
		<key>rocket-l-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,458},{103,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,111}}</string>
			<key>sourceSize</key>
			<string>{103,111}</string>
		</dict>
		<key>rocket-l-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,393},{103,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,111}}</string>
			<key>sourceSize</key>
			<string>{103,111}</string>
		</dict>
		<key>rocket-r-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,464},{103,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,111}}</string>
			<key>sourceSize</key>
			<string>{103,111}</string>
		</dict>
		<key>rocket-r-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,429},{103,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,111}}</string>
			<key>sourceSize</key>
			<string>{103,111}</string>
		</dict>
		<key>rocket-r-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,345},{103,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,111}}</string>
			<key>sourceSize</key>
			<string>{103,111}</string>
		</dict>
		<key>super-l-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,313},{107,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,114}}</string>
			<key>sourceSize</key>
			<string>{107,114}</string>
		</dict>
		<key>super-l-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,278},{107,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,113}}</string>
			<key>sourceSize</key>
			<string>{107,113}</string>
		</dict>
		<key>super-r-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,229},{107,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,114}}</string>
			<key>sourceSize</key>
			<string>{107,114}</string>
		</dict>
		<key>super-r-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{107,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,113}}</string>
			<key>sourceSize</key>
			<string>{107,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hipster.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b34cd65a70050bd78b710d69e331c26a$</string>
		<key>textureFileName</key>
		<string>hipster.png</string>
	</dict>
</dict>
</plist>
